*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#app {
  max-width: none;
  margin: 0 auto;
  font-weight: normal;
  object-fit: cover;
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
}
